price_manager.db
.env
*.ipynb

__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/

src/price_manager/migrations/csv/export_precios/*.csv
src/price_manager/migrations/csv/alertas_competencia/*.csv
src/price_manager/migrations/csv/alertas_competencia/*.xlsx
